* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f0f0f0;
}

.calendar {
	width: 100vw;
	height: 100vh;
	padding: 2px;
}

.day {
	font-size: 20px;
	width: calc(100%/7 - 4px);
	height: calc(100%/5 - 4px);
	background-color: white;
	border: 1px solid #e0e0e0;
	border-radius: 10px;
	padding: 10px;
	margin: 2px;
	float: left;
}