#content {
	width: 500px;
	height: 130px;
	font-size: 20px;
	line-height: 25px;
	text-align: left;
	padding: 10px;
}

#ok-button{
	width: 300px;
	height: 30px;
	font-size: 20px;
	line-height: 30px;
	background-color: #d0d0d0;
	border: 1px solid #606060;
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
}

#ok-button:hover {
	background-color: #e0e0e0;
}