table {
	border: 5px solid blue;
}

caption {
	color: #9932cc;
	font-size: 30px;
	font-weight: 400;
}

th {
	border: 4px solid springgreen;
	background-color: pink;
	padding: 10px;
}

td {
	border: 2px solid black;
	background-color: gainsboro;
}

td img {
	display: block;
}

td::first-line {
	color: red;
	font-size: 15px;
	font-weight: bold;
}
