* {
	margin: 0;
	box-sizing: border-box;
}

h3 {
	line-height: 40px;
	height: 40px;
	background-color: rgb(212, 212, 212);
}

.shurui {
	font-size: 40px;
}

.kiroku {
	width: 100vw;
	height: calc(100vh - 40px);
	padding: 5px;
}

.kiroku div {
	background-color: lightblue;
	border: 1px solid black;
	width: calc(50% - 10px);
	height: calc(50% - 10px);
	margin: 5px;
	padding:10px;
	float: left;
}

#satou {
	text-decoration: underline;
	background-color: blue;
	color: white;
}
