* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: lightgray;
}

.calendar {
	width: 100vw;
	height: 100vh;
	padding: 2px;
}

.day {
	font-size: 20px;
	width: calc(100% / 7 - 6px);
	height: calc(100% / 5 - 6px);
	background-color: white;
	border: 1px solid gray;
	border-radius: 10px;
	margin: 3px;				/* 外側の余白を3pxに指定 */
	padding: 5px;	
	float: left;
}